<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./test/src/Bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage/>
  <testsuites>
    <testsuite name="Main">
      <file>./test/src/Tests/ModuleTest.php</file>
      <directory>./test/src/Tests/Service</directory>
      <file>./test/src/Tests/Hydrator/DoctrineHydratorTest.php</file>
    </testsuite>
    <testsuite name="ODM">
      <directory>./test/src/Tests/Hydrator/ODM</directory>
    </testsuite>
  </testsuites>
</phpunit>
